[rsml]
server_secret = "placeholder"
posting_email = "list@127.0.0.1"

display_name = "rsml list"
list_id = "127.0.0.1"

archive_limit = 50
archive_max = 100

posting = true
posting_permissions = "subscribers"

subscriber_db = "/var/lib/rsml/subscribers.db"
email_directory = "/var/lib/rsml/mail"
precedence = "list"
fix_date = false

relay_host = "127.0.0.1"
relay_port = 25
http_url = "http://127.0.0.1:8080"

lmtp_host = "127.0.0.1"
lmtp_port = 8024
http_host = "127.0.0.1"
http_port = 8080
